@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap');
body {
    
    font-family: "Kumar One Outline";
    text-align: center;
    font-size: 20px;
}
h1{
    font-size: 50px;
    color: lightseagreen;
}
a:link,
a:visited {
    font-size: 30px;
    color: blueviolet;
}
a:hover {
    color: #FFEC5C;
}
h4 {
    color: palevioletred;
}
p {
    color: royalblue;
}